@addTagHelper *, Syncfusion.EJ2
@using Newtonsoft.Json
@{

    Layout = "~/Views/Shared/Login_Layout.cshtml";

}
@{
    var Email = ViewBag.Email != null ? JsonConvert.SerializeObject(ViewBag.Email) : "null";

    var User = ViewBag.Username != null ? JsonConvert.SerializeObject(ViewBag.Username) : "null";
    var Full = ViewBag.Fullname != null ? JsonConvert.SerializeObject(ViewBag.Fullname) : "null";
}

<div id="AlredyResetDilog" class="w-25 "></div>
<div id="alertReset" class="w-25"></div>
<div class="container-fluid" style=" height:100vh">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 bg-light p-3" style="margin-top:150px;border:0px solid grey;border-radius:8px">
            <h4 class="text-center mb-2"><strong>Reset Password</strong></h4>
            <form id="PassForm" class="border-1 pb-2">


                <div class="row">
                    <div class="col-1"></div>

                    <div class="col-10 p-1">
                        <ejs-textbox floatLabelType=Auto type="text" created="onCreate" id="ResetPass" name="ResetPass" placeholder="Enter New Passsword "></ejs-textbox>
                        @* <span id="Entererr" class="error-message text-danger"></span> *@
                        @*   <input type="checkbox" id="showPassword" class="mt-1"> <span style="font-size:13px">Show Password</span> *@

                    </div>

                    <div class="col-1"></div>
                </div>

                <div class="row">
                    <div class="col-1"> </div>
                    <div class="col-10 p-1">
                        <ejs-textbox floatLabelType=Auto id="RenterPass" name="RenterPass" placeholder="Re-enter New Passsword"></ejs-textbox>
                        <span id="PassMatch" class="error-message text-danger " style="font-size:12px"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                        <button id="UpdatePass" type="button" class="e-btn mt-4 bg-danger text-light text-center"> Submit</button>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>




<script>
    function onCreate() {
        // Initially hide the password by setting it to a custom 'hidden' class
        let textObj = document.getElementById("ResetPass").ej2_instances[0];
        textObj.element.classList.add("hidden-password");

        // Add the eye icon
        this.addIcon("append", "e-icons e-input-eye");

        // Toggle between showing and hiding the password on eye icon click
        document.getElementsByClassName("e-input-eye")[0].addEventListener("click", function (e) {
            if (textObj.element.classList.contains("hidden-password")) {
                textObj.element.classList.remove("hidden-password");
            } else {
                textObj.element.classList.add("hidden-password");
            }
        });
    }
</script>

<style>
    .e-input-eye:before {
        content: '\e345';
        / Icon for the eye / font-family: e-icons;
        font-size: 13px;
    }


    .hidden-password {
        font-family: 'text-security-disc';
        -webkit-text-security: disc;
        / Chrome/Safari / text-security: disc;
        / Older browsers /
    }
</style>

<script>
    $(document).ready(function () {
        var UserEmail = @Html.Raw(Email);
        var uname = @Html.Raw(User);
        var EmpName = @Html.Raw(Full);

        var dialogForgetPass = new ej.popups.Dialog({
            header: '<div class="text-danger">Alert Message</div>',
            content: '<div>Your password has been updated.Kindly login </div>',
            visible: false,
            buttons: [{

                buttonModel: { content: 'Close', isPrimary: true }, click: onclose_alert
            }]
        });


        // hide alert Dialog

        function onclose_alert() {
            dialogForgetPass.hide();
            window.location.href = '@Url.Action("Index", "Login")';
        }



        //function to clear dilaog box
        function cleardialogalertReset() {
            var dialogDiv = document.getElementById("alertReset");
            if (dialogDiv) {
                while (dialogDiv.firstChild) {
                    dialogDiv.removeChild(dialogDiv.firstChild);
                }
            }
        }





        var dialAlredyrestPass = new ej.popups.Dialog({
            header: '<div class="text-danger">Alert Message</div>',
            content: '<div>Password already exist, please enter new password </div>',
            visible: false,
            buttons: [{

                buttonModel: { content: 'Close', isPrimary: true }, click: onclose_Alredyrest
            }]
        });

        function onclose_Alredyrest() {
            dialAlredyrestPass.hide();

        }

        function cleardialogAlredyrest() {
            var dialogDiv = document.getElementById("AlredyResetDilog");
            if (dialogDiv) {
                while (dialogDiv.firstChild) {
                    dialogDiv.removeChild(dialogDiv.firstChild);
                }
            }
        }


        //Validation rules
        var Option_Resetpass = {
            rules: {
                'RenterPass': {
                    required: [true, "Please re-enter the new password"]
                },
                'ResetPass': {
                    required: [true, "Please enter a new password"],
                    regex: [
                        /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,16}$/,
                        'The password must meet the following criteria:<br>' +
                        '1. Be at least 8 characters long and no more than 16 characters.<br>' +
                        '2. Contain a mixture of both uppercase and lowercase letters.<br>' +
                        '3. Include a combination of letters and numbers.<br>' +
                        '4. Contain at least one special character (e.g., @@, $, !, %, *, ?, &).'
                    ]
                }
            }
        };




        //function to get new password to rest onclick of submit button
        var SbmtPass = document.getElementById('UpdatePass');
        console.log(SbmtPass);
        SbmtPass.addEventListener('click', function (event) {
            var emailInput = document.getElementById('PassMatch');
            emailInput.textContent = ' ';
            var PasswordInput = document.getElementById('ResetPass');
            var RepassInput = document.getElementById('RenterPass');
            var IsValid = true;


            //Form Validation
            var formObject = new ej.inputs.FormValidator('#PassForm');
            formObject.rules = Option_Resetpass.rules,
                formObject.customPlacement = function (inputElement, errorElement) {
                    var elementType = inputElement.tagName.toLowerCase();
                    var parentElement = inputElement.parentElement.parentElement;

                    if (elementType === "input" || elementType === "textarea" || elementType === "select") {
                        parentElement.appendChild(errorElement);
                    } else if (elementType === "ejs-numerictextbox" || elementType === "ejs-textbox" || elementType === "ejs-dropdownlist" || elementType === "ejs-datepicker" || elementType === "ejs-uploader") {
                        parentElement.parentElement.appendChild(errorElement);
                    }
                }
            var IsValid = formObject.validate();


            //Re-enter and enter password check
            var EnterPass = document.getElementById('ResetPass').ej2_instances[0].value;
            var RenterPass = document.getElementById('RenterPass').ej2_instances[0].value;
            console.log(EnterPass);
            console.log(RenterPass);
            if (EnterPass != null && RenterPass != null) {
                console.log("|Enter into")
                if (EnterPass != RenterPass) {

                    emailInput.textContent = 'Please enter correct Password';
                    IsValid = false;

                }
            }
            console.log(EmpName)

            console.log(IsValid);
            if (IsValid) {
                var data = JSON.stringify({
                    Password: EnterPass,
                    Email: UserEmail,
                    Username: uname,
                    FullName: EmpName
                });
                console.log(data);
                // cleardialogalertReset();
                // dialogForgetPass.appendTo('#alertReset');
                // dialogForgetPass.show();
                $.ajax({
                    url: '/General/Login/Update_New_Password',
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify({
                        Password: EnterPass,
                        Email: UserEmail,
                        Username: uname,
                        FullName: EmpName
                    }),
                    success: function (response) {
                        console.log(response);
                        if (response == true) {
                            cleardialogalertReset();
                            dialogForgetPass.appendTo('#alertReset');
                            dialogForgetPass.show();
                        } else {
                            cleardialogAlredyrest();
                            dialAlredyrestPass.appendTo('#AlredyResetDilog');
                            dialAlredyrestPass.show();
                        }


                    },
                    error: function (xhr, status, error) {

                        console.error(xhr.responseText);
                    }
                });


                ClearPassForm();
            }
            else { }


        });



        // Function To clear Form
        function ClearPassForm() {
            document.getElementById('PassForm').reset();
        }



        // //Function to see enter password by show password check
        // var showPassword = document.getElementById('showPassword');
        // console.log(showPassword);
        // if (showPassword != null) {
        //     showPassword.addEventListener('change', function () {

        //         var passwordInput = document.getElementById('ResetPass').ej2_instances[0];
        //         if (this.checked) {
        //             passwordInput.type = 'text';
        //         } else {
        //             passwordInput.type = 'password';
        //         }
        //     });
        // }



    })






</script>